# Build and Release Folders
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="Estilo.css">
	<title>Hola</title>
</head>
<body>
 <div class="title">
 	<header>
 		<h1>Hola pedazo de virgen</h1>
 		<nav>
 		<ul>
 			<li>
 			<a href="https://open.spotify.com/playlist/5IfCEd0EqumLa1Q6o0GYsT?si=055b6846f5594d74"> 
 			No seas trolo man
 		</a>
 	</li>
 	</ul>
</nav>
 	</header>


 </div>

 <aside>
 <p>Es gay deja al nene</p>
 </aside>

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
